.second_section{
    background-color: $FIFTH_COLOR;
    text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.items_ss p{
margin-top: 20px;

}

.items_ss h3 {
 color: rgb(163, 152, 91)

}


@media (min-width:1200px){

.second_section .container {
  display: flex;
  flex-direction: row;

h3{
  font-size: 25px;
}

}


}
