.third_section{
    text-align: center;
    margin-top: 40px;
}

.items_ts{
    background-color: $FIRST_COLOR;
    margin-top: 20px;
    padding: 15px 5px;
    color: $FOURTH_COLOR;
}

.items_ts h3+p {
margin-top: 20px;

}


.third_section img{
    width: 100%;
}

.text_ts h3{
    color: rgb(163, 152, 91)
}


@media (min-width:1200px){

.third_section .container {

 display: flex;
 flex-direction: row;   
 justify-content: space-between;
}

.text_ts{

text-align: left;    
width: 60%;

h3{
    margin-bottom: 15px;
    font-size: 30px;
}

p{
    margin-bottom:20px ;
}

img{
    margin-bottom: 20px;
}
}

.Items{
width: 30%;
display: flex;
flex-direction: column;
justify-content:first baseline;
}


}